body {
}

#inputRestantes {
    float:left;
}

.modal-content {
    height: 400px;
}

#NombreNuevo{
    width: 250px;
}

#DescripcionNuevo {
    width: 250px;
}

#PrecioNuevo {
    width: 120px;
}

#divSubirFoto{
    margin-top: 20px;
    margin-left: 2%;
}

.footer {
    margin-top: 260px;
}

#BotonAnadir {
    float: left;
    margin-left: 5%;
    width:120px;
}

#BotonCerrar {
    float: right;
    margin-right: 5%;
    width: 120px;
}

#NuevoPrecioProducto {
    width: 80px;
}

.ImagenProducto {
    width: 270px;
    height: 270px;
}